<script>
$.backstretch("http://www.planwallpaper.com/static/images/2891179-batman-arkham_knight-review_nologo_20150618.jpg");
</script>
<h1>Im BATMAN</h1>

<h2>Nuevo voto</h2>

<%= render 'votos/form' %>

<%= link_to 'Back', votos_path %>