<div class="container-fluid">
	<div class="row">
		<div class="col-md-6 col-lg-6">

			<%= link_to(image_tag("https://i.ytimg.com/vi/sSuKLXdRzKI/maxresdefault.jpg", :class => "img-responsive"), pages_batman_path)%>
			
		</div>
		<div class="col-md-6 col-lg-6">
			<%= link_to(image_tag("http://screenrant.com/wp-content/uploads/batman-v-superman-henry-cavill3.jpg", :class => "img-responsive"), pages_superman_path)%>
		</div>
	</div>

</div>

