<script>
$.backstretch("http://images-cdn.moviepilot.com/images/c_scale,h_464,w_616/t_mp_quality/zo7lrmqgjelcepiwwyxe/a-look-at-the-upcoming-dc-cinematic-universe-773823.jpg");
</script>
<h1>This looks like a job for Superman
</h1>

<h2>Nuevo voto</h2>

<%= render 'votos/form' %>

<%= link_to 'Back', votos_path %>